@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@200;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --greenColor: #78cc6d;
    --blackColor: #171717;
    --textColor: #646464;
    --mediumGray: #626262;
    --lightGray: #999999;
    --veryLightGray: #eeeeee;
    --whiteColor: #ffffff;
}

html {
    font-size: 62.5%;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom right, #50a3a2 0,#78cc6d 100%);
    min-height: 90.6vh;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h4 {
    font-weight: 500;
    color: var(--mediumGray);
}

h5 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--lightGray);
}

p {
    font-size: 1.6rem;
    color: var(--textColor);
}

@media(min-width: 561px){
    .container {
        margin: 0 auto;
        padding: 0 1.5rem 0 10rem;
        max-width: 70rem;
        position: relative;
        z-index: 1;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1286px;
        max-height: 674px;
    }
}

section {
    margin-bottom: 1.5rem;
    background-color: var(--whiteColor);
    border-radius: 0 0 .4rem .4rem;
}

.specialtitle {
    color: var(--greenColor);
    font-size: 2rem;
    line-height: 2.1rem;
    padding-bottom: 3rem;
    min-height: 5.1rem;
    text-transform: capitalize;
    position: relative;
}

.specialtitle span {
    color: var(--blackColor);
}

.specialtitle::before,
.specialtitle::after {
    content: "";
    position: absolute;
}

.specialtitle::before {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    top: 0;
    left: -1.2rem;
    background: linear-gradient(135deg,rgba(120,204,109, .15)0, rgba(120, 204, 109, .1)100%);
}

.specialtitle::after {
    left: -3rem;
    right: 0;
    bottom: 0;
    width: auto;
    height: .2rem;
    background: radial-gradient(ellipse at left, #ddd 0, rgba(255, 255, 255, 0)70%);
}

.p-3 {
    padding: 3rem;
 }

strong {
    background-color: var(--greenColor);
    color: var(--whiteColor);
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-right: .8rem;
}

/* Start Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header .top-menu {
    box-shadow: 0 .5rem 1rem rgba(0 0 0 / 5%);
}

header .top-menu ul {
    display: flex;
}

header .top-menu ul li {
    min-width: 20%;
    background-color: var(--whiteColor);
}

header .top-menu ul li a {
    padding: 1.3rem .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

header .top-menu ul li:not(:first-of-type) a::before {
    content: "";
    position: absolute;
    width: .2rem;
    height: 100%;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at top, #ddd 0, rgba(255,255, 255, 0) 70%);
}

header .top-menu ul li a i {
    color: var(--blackColor);
    font-size: 2rem;
    line-height: 3rem;
    transition:  all .3s;
}

header .top-menu ul li a .link {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    color: var(--blackColor);
    transition: all .3s;
}

header .top-menu ul li.active a i,
header .top-menu ul li.active a .link,
header .top-menu ul li:hover a i,
header .top-menu ul li:hover a .link {
    color: var(--greenColor);
}

@media (min-width:  561px) {
    header {
        width: 7.2rem;
        top: 2rem;
        left: auto;
        margin-left: -8.5rem;
    }
    header .top-menu {
        border-radius: .4rem;
    }
    header .top-menu ul {
        flex-direction: column;
    }
    header .top-menu ul li:first-of-type {
       border-radius: .4rem .4rem 0 0;
    }
    header .top-menu ul li:last-of-type {
        border-radius:  0 0 .4rem .4rem;
    }
    header .top-menu ul li:not(:first-of-type) a::before {
        width: 100%;
        height: .1rem;
        background: radial-gradient(ellipse at right, #ddd 0, rgba(255,255,255,0) 70%);
    }
}
/* End Header */

/* Start Hero section */
.hero {
    margin-top: 6.9rem;
    background-color: var(--whiteColor);
}

.hero .hero-img{
    width: 100%;
}

.hero .hero-img img {
    max-width: 100%;
    clip-path: polygon(0 0,100% 0%, 100% 84%,48% 100%, 0 84%);
}

.hero .hero-info {
    text-align: center;
}

.hero .hero-info title {
    text-transform: capitalize;
    font-size: 8.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    margin: 2rem 0 1rem 0;
    color: var(--blackColor);
}

.hero .hero-info .hero-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-info .subtitle {
    text-transform: capitalize;
    color: var(--greenColor);
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
}

.hero .social {
    margin-top: 1.6rem;
    text-align: center;
}

.hero .social a {
    display: inline-block;
    margin: 0 .6rem;
}

.hero .social a i {
    color: var(--blackColor);
    font-size: 1.6rem;
    transition: all .3s;
}

.hero .social a:hover i {
    color: var(--greenColor);
}

.hero .links {
    position: relative;
    margin-top: 6rem;
    text-align: center;
    display: flex;
}

.hero .links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255,255,255,0) 70%);
}

.hero .links a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    height: 7rem;
    line-height: 7rem;
    color: var(--blackColor);
    position: relative;
    flex-basis: 50%;
    cursor: pointer;
    transition: all .3s;
}

.hero .links a:hover{
    color: var(--greenColor);
}

.hero .links a:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .3rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255,255,255,0) 70%);
}

.blink {
    color: var(--greenColor);
    animation: blink .5s infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

@media(min-width: 1200px) {
    .hero {
        max-width: 48rem;
        transform: scale(1, 1.1);
    }
}

/* End Hero section */

/* Start About section */
.about-me .row .text {
    padding: 3rem .5rem;
}

.about-me .row text p {
    line-height:  1.8em;
}

.about-me .info ul li {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: var(--textColor);
    text-align: right;
    padding: 1.1rem 0;
}

.about-me .info ul li strong {
    padding: .1rem .8rem;
}

.about-me .info ul li:not(:last-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .2rem;
    background: radial-gradient(ellipse at center, #ddd 0, rgba(255, 255, 255, 0)70%);
}

@media (min-width: 768px) {
    .about-me .row {
        display: flex;
    }
    .about-me .info,
    .about-me .row .text {
        flex-basis: 50%;
        padding: 3rem 1rem;
        position: relative;
    }

    .about-me .row .text p {
        font-size: 1.5rem;
    }
    .about-me .info::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1rem;
        width: .2rem;
        height: 100%;
        background: radial-gradient(ellipse at top, #ddd 0, rgba(255, 255, 255, 0)70%);
    }
}

@media (min-width: 1200px) {
    .about {
        position: absolute;
        overflow: auto;
        overflow-x: hidden;
        top: 0;
        left: 47%;
        right: 0;
        bottom: 1.5rem;
        max-width: 65rem;
        height: 100%;
        z-index: -1;
    }
}
/* End About section */


